
@import "../../../variables";
$card-width: 300px;
$card-padding: 5px;
$animation-duration: 1s;
$card-header-height: 40px;
$card-footer-height: 40px;
$card-height: 300px + $card-footer-height + $card-padding;

:host {
    height: $card-height;
    &.large {
        z-index: 1;
        transition: $animation-duration;
        height: calc(90vh - #{$title-bar-height});
        width: 90vw;
        position: fixed;
        mat-card mat-card-content {
            height: calc(100% - #{$card-header-height} - #{$card-footer-height});
        }
    }
    &:not(.large):hover {
        cursor: pointer;
        mat-card {
            transition: 0.1s;
            box-shadow: 5px 5px 2px $shadow;
            transform: translate(-5px, -5px);
        }
    }
    mat-card {
        background-color: $beige;
        border: solid $dark 1px;
        box-sizing: border-box;
        color: $dark;
        margin: 5px;
        min-width: $card-width;
        height: calc(100% - #{$card-padding});
        padding: $card-padding;

        mat-card-content {
            background-color: $grey;
            width: 100%;
            height: calc(100% - #{$card-footer-height});
            border-radius: 5px;
            margin: 0;
        }
        
        mat-card-title {
            text-align: center;
            padding: $card-padding;
            height: $card-footer-height;
            width: 100%;
            box-sizing: border-box;
            font-weight: 700;
            font-size: 1.3em;
            margin: 0px;
            padding: 5px;
        }
        mat-card-actions {
            height: $card-header-height;
            overflow: hidden;
            margin: 0;
            padding: 0;
            .close {
                float: right;
            }
        }
    }
}
