$font-stack: helvetica, sans-serif;
$dark : #1D1E2C;
$beige : #C8C2AE;
$grey : #90A0A0;
$lightBlue : #34E4EA;
$blue : #0EB1D2;
$shadow : #4D4E5C;

$font-color: $grey;
$button: $font-color;
$hovered-button: $lightBlue;
$clicked-button: $blue;
$title-bar-height: 60px;
