@import '_variables';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font: 100% $font-stack;
    background-color: $dark;
    color: $font-color;
    margin: 0;
}

button {
    i {
        color: $button;
    }
    &:hover {
        cursor: pointer;
        i {
            color: $hovered-button;
        }
    }
    &:active i {
        color: $clicked-button;
        cursor: pointer;
    }
}
